:root {
  --branding-colour: #6c63ff;
  --secondary-colour: #f9f7fe;
  --heading-font-family: "Playfair Display";
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 58px;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-colour);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  color: #272142;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  line-height: 1;
}
.content-container h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: #272142;
  line-height: normal;
}
.content-container h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.content-container p {
  color: rgba(39, 33, 66, 0.7);
  line-height: normal;
}
.content {
  margin: 25px;
}
.btn-branding {
  border-radius: 4px;
  background: var(--branding-colour);
  color: #ffffff;
  padding: 18px 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 27px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-colour);
  border-color: var(--branding-colour);
  padding: 18px 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
}
.project-description {
  padding: 100px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
